PORT=3002
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=langgomedu
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_PORT=3306
ADMIN_ID=superadmin
ADMIN_NAME="Super Admin"
ADMIN_EMAIL=levietkhanh2k4@gmail.com
ADMIN_USERNAME=sadmin@gmail.com
ADMIN_PHONE_NUMBER=0234577789
ADMIN_PASSWORD=admin@123
ADMIN_APP_PASSWORD=
FIREBASE_DATABASE=https://langgomedu-default-rtdb.asia-southeast1.firebasedatabase.app/